<app-header />

<main>
	<ul id="users">
		<!-- @for (user of users; track user.id) { -->
		<li *ngFor="let user of users">
			<app-user [selected]="user.id === selectedUserId" 
			[user]="user" (select)="onSelectUser($event)" />
		</li>
		<!-- } -->
	</ul>
	<!-- @if (getNameById) {
		<app-tasks [name]="getNameById" />
	}
	@else {
		<p id="fallback"> Please select a user </p>
	} -->

	<app-tasks
		[userId]="getUserById?.id ?? 'u1'"
		[name]="getNameById"
		*ngIf="getNameById; else fallbacktemplate"
	></app-tasks>
	<ng-template #fallbacktemplate>
		<p id="fallback">Please select a user</p>
	</ng-template>
</main>
